
@{
    Layout = null;
}

<div id="divAlert" class="alert alert-success text-center" role="document" style="display: none; position:absolute; z-index:1000000; left: 200px; top: 140px; right:200px">
    <button id="butAlertClose" type="button" class="btn btn-sm btn-success" style="width: 200px;" onclick="$('#divAlert').hide();">OK</button></br></br>
    <strong id="strongAlertTitle">Sukces!</strong>
    <div id="divAlertScroll" class="table-responsive">
        <div id="spanAlertContent" name="spanAlertContent"></div>
    </div>
</div>

